$bgColor: #1E1E1E;
$bgSecondary: #17161C;
$bgLightGrey: #1A1A22;
$bgLightGrey2: #1D1D26;
$bgLightGrey3: #282836;
$colorWhite: #fff;
$colorWhiteLight: #F2F2F5;
$colorPurple: #9452F7;
$colorGreen: #2BC23F;
$colorRed : #BE3D2C;
$coloBlue: #1FA8D1;
$colorSecondary:#79798C;
$fontFamily: 'Inter', sans-serif;
